<!-- <!DOCTYPE html>
<html>
<head> 
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,telephone=no">
  <title>九月不撸</title>
  <script type="text/javascript" src="https://pages.baozoumanhua.com/unify/assets/plugins/jquery/jquery.min.js"></script>
</head>  
<body style="text-align: center;float: left;">
<canvas id="canvas" width="300" height="300">抱歉！浏览器不支持。</canvas>
<button type="" id="btn">抽奖</button>
</body>
</html>
<script type="text/javascript">
  var info=["一等奖","二等奖","三等奖","四等奖","五等奖","六等奖","七等奖","八等奖","九等奖"];
var color=[];
var step = 2*Math.PI/9;
var outerR = 150; //轮盘的大小
var interR = 50;//内存空白圆的大小
var beginAngle=50;//旋转起来时默认开始旋转的度数，度数愈大旋转的初始速度愈大
var radio = 0.95;//旋转速度衰减系数，影响旋转时间
var t = null;
window.onload=function() {
      for ( var i = 0; i < 9; i++) {
             color.push(getColor());
      }
      var canvas = document.getElementById("canvas");
      var context = canvas.getContext("2d");
      context.translate(150,150);
      Arrow(context);
      init(context);
      document.getElementById("btn").onclick=function(){
             if(t){
                    return false;
             }
             var step = beginAngle +Math.random()*9;
             var angle = 0;
             t = setInterval(function(){
                    step *=radio;
                    if(step <= 0.1){
                           clearInterval(t);
                           t =null;
                           var pos = Math.ceil(angle / 40);
                           var res = info[9-pos];
                           context.save();
                           context.beginPath();
                           context.font="23px 微软雅黑";
                           context.fillStyle="#f00";
                           context.textAlign="center";
                           context.textBaseline="middle";
                           context.fillText(res,0,0);
                           context.restore();
                    }else{
                           context.clearRect(-250,-250,500,500);
                           angle+=step;
                           if(angle > 360){
                                  angle -=360;
                           }
                           context.save();
                           context.beginPath();
                           context.rotate(angle * Math.PI/180);
                           init(context);
                           context.restore();
                           Arrow(context);
                    }
             },60);
      };
};
 
function Arrow(context){
      context.save();
      context.beginPath();
      context.lineWidth = 5;
      context.moveTo(70,0);
      context.lineTo(80,15);
      context.lineTo(80,5);
      context.lineTo(150,5);
      context.lineTo(150,-5);
      context.lineTo(80,-5);
      context.lineTo(80,-15);
      context.closePath();
      context.fill();
      context.restore();
}
function init(context){
      for ( var i = 0; i < 9; i++) {
             context.save();
             context.beginPath();
             context.moveTo(0,0);
             context.fillStyle=color[i];
             context.arc(0,0,outerR,i*step,(i+1)*step);
             context.fill();
             context.restore();
      }
      
      context.save();
      context.beginPath();
      context.fillStyle="#fff";
      context.arc(0,0,interR,0,2*Math.PI);
      context.fill();
      context.restore();
      
      for ( var i = 0; i < 9; i++) {
             context.save();
             context.beginPath();
             context.fillStyle="#000";
             context.font="15px 微软雅黑";
             context.textAlign="center";
             context.textBaseline="middle";
             context.rotate(i*step+step/2);
             context.fillText(info[i],(outerR + interR)/2,0);
             context.restore();
      }
}
function getColor(){
      var random = function(){
             return Math.floor(Math.random()*255);
      }
      return "rgb("+random()+","+random()+","+random()+")";
}
      </script> -->
   <!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>抽奖</title>
 <!-- 这里是css部分 -->
 <style>
 #bg{
 width: 650px;
 height: 600px;
 margin: 0 auto;
 background: url(http://files.jb51.net/file_images/article/201608/201608150908513.jpg) no-repeat;
 position: relative;
 }
 img[src^="http://files.jb51.net/file_images/article/201608/201608150908502.png"]{
 position: absolute;
 z-index: 10;
 top: 155px;
 left: 247px;
 }
 img[src^="http://files.jb51.net/file_images/article/201608/201608150908514.png"]{
 position: absolute;
 z-index: 5;
 top: 60px;
 left: 116px;
 transition: all 4s;
 }
  
 </style>
</head>
<body>
<!-- 这里是HTML结构部分 -->
 <div id="bg">
 <img src="http://files.jb51.net/file_images/article/201608/201608150908502.png" alt="pointer">
 <img src="http://files.jb51.net/file_images/article/201608/201608150908514.png" alt="turntable">
 </div>
 <!-- 这里是js部分 -->
 <script>
 var oPointer=document.getElementsByTagName("img")[0];
 var oTurntable=document.getElementsByTagName("img")[1];
 var cat=51.4;
 var num=0;
 var offOn=true;
 document.title="";
  
 oPointer.onclick=function(){
 if(offOn){
 oTurntable.style.transform="rotate(0deg)";
 offOn=!offOn;
 ratating();
 }
 }
 
 function ratating(){
 var timer=null;
 var rdm=0;
 clearInterval(timer);
 timer=setInterval(function(){
 if(Math.floor(rdm/360)<3){
  rdm=Math.floor(Math.random()*3600); 
 }else{
  oTurntable.style.transform="rotate("+rdm+"deg)";
  clearInterval(timer);
  setTimeout(function(){
  offOn=!offOn;
   alert("rdm="+rdm);
  num=rdm%360;
     alert("num="+num);
  if(num<=cat*1){
  alert("4999元");
  }else if(num<=cat*2){
  alert("条50元");
  }else if(num<=cat*3){
  alert("10元");
  }else if(num<=cat*4){
  alert("5元");
  }else if(num<=cat*5){
  alert("免息服务");
  }else if(num<=cat*6){
  alert("提交白金");
  }else if(num<=cat*7){
  alert("未中奖");
  }
  },4000);
 } 
 },30); 
 }
 </script>
</body>
</html>